<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">

</head>
{% if color == "blue" %}
<style>
    body {
        background-color: #19B5FE;
    }
</style>
{% endif %}

{% if color == "green" %}
<style>
    body {
        background-color: #87D37C
    }
</style>
{% endif %}

<body>
    <div class="container">
        <div class="mx-auto" style="font-size: 15px">This is the {{total_visits}}th time you visit this page</div>
        <div class="mx-auto" style="width: 200px; font-size: 50px; color: honeydew">Table</div>
        <table class="table table-bordered">

            {% for row in rows %}

            <tr>
                <td scope="row"> {{row["product_name"]}}</td></a>
                <td><a href="list/{{row[0]}}" class="btn btn-success pullright">check</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>


</body>

</html>